@media screen and (min-width: 1201px) {
    h1, h2, h3 {
        font-family: 'Eczar', serif ; font-weight: 800;
    }
    body, p, a {
        font-family: 'Eczar', serif ; font-weight: 400;
    }
    header {
        background-image: url("images/nl_head.jpg");
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 30px;
        padding-bottom: 30px;
        border-collapse: collapse;
    }
    h1, h3 {
        color: white;
    }
    body {

    }
    section {
        display: inline-block;
        width: 300px;
        margin:auto;
        float: left;
        padding: 20px;
    }
    article {
        display: inline-block;
    }
    .div1 {
        align-content: center;
        max-width: 1030px;
        margin: auto
    }
    img {
        width: 300px;
    }
    footer{
        display: inline-block;
        width: 300px;
    }
    nav {
        padding-top: 10px;
        background-color: black;
        height: 30px;
        text-align: right;
    }
    a {
        color: grey;
        padding-right: 10px;
        text-decoration: none;
    }
    .a1 {
        text-align: left;
        color: grey;
        float: left;
    }
    .type1 {
        font-weight: bold;
        color: black;
    }
}
@media screen and (min-width: 993px) and (max-width: 1199px){
    h1, h2, h3 {
        font-family: 'Eczar', serif ; font-weight: 800;
    }
    body, p, a {
        font-family: 'Eczar', serif ; font-weight: 400;
    }
    header {
        background-image: url("images/nl_head.jpg");
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 30px;
        padding-bottom: 30px;
        border-collapse: collapse;
    }
    h1, h3 {
        color: white;
    }
    body {

    }
    section {
        display: inline-block;
        width: 400px;
        margin:auto;
        float: left;
        padding: 20px;
    }
    article {
        display: inline-block;
    }
    .div1 {
        align-content: center;
        max-width: 1100px;
        margin: auto
    }
    img {
        width: 400px;
    }
    footer{
        display: inline-block;
        width: 280px;
    }
    nav {
        padding-top: 10px;
        background-color: black;
        height: 30px;
        text-align: right;
    }
    a {
        color: grey;
        padding-right: 10px;
        text-decoration: none;
    }
    .a1 {
        text-align: left;
        color: grey;
        float: left;
    }
    .type1 {
        font-weight: bold;
        color: black;
    }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
    h1, h2, h3 {
        font-family: 'Eczar', serif ; font-weight: 800;
        font-size: small;
    }
    body, p, a {
        font-family: 'Eczar', serif ; font-weight: 400;
        font-size: small;
    }
    header {
        background-image: url("images/nl_head.jpg");
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 30px;
        padding-bottom: 30px;
        border-collapse: collapse;
    }
    h1, h3 {
        color: white;
    }
    body {

    }
    section {
        display: inline-block;
        width: 350px;
        margin:auto;
        float: left;
        padding: 10px;
    }
    article {
        display: inline-block;
    }
    .div1 {
        align-content: center;
        max-width: 900px;
        margin: auto
    }
    img {
        width: 350px;
    }
    footer{
        display: inline-block;
        width: 457px;
    }
    nav {
        padding-top: 10px;
        background-color: black;
        height: 30px;
        text-align: right;
    }
    a {
        color: grey;
        padding-right: 10px;
        text-decoration: none;
    }
    .a1 {
        text-align: left;
        color: grey;
        float: left;
    }
    .type1 {
        font-weight: bold;
        color: black;
    }
}
@media screen and (min-width: 481px)and (max-width: 767px) {
    h1, h2, h3 {
        font-family: 'Eczar', serif ; font-weight: 800;
        font-size: smaller;
    }
    body, p, a {
        font-family: 'Eczar', serif ; font-weight: 400;
        font-size: smaller;
    }
    header {
        background-image: url("images/nl_head.jpg");
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 30px;
        padding-bottom: 30px;
        border-collapse: collapse;
    }
    h1, h3 {
        color: white;
    }
    body {

    }
    section {
        display: inline-block;
        max-width: 500px;
        margin:auto;
        float: left;
        padding: 5px;
    }
    article {
        display: inline-block;
    }
    .div1 {
        align-content: center;
        max-width: 700px;
        margin: auto
    }
    img {
        width: auto;
        margin: auto;
    }
    footer{
        display: inline-block;
        width: 400px;
    }
    nav {
        padding-top: 10px;
        background-color: black;
        height: 30px;
        text-align: right;
    }
    a {
        color: grey;
        padding-right: 10px;
        text-decoration: none;
    }
}